@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Kanit500&display=swap'); */

* {
    margin: 0;
    padding: 0;
    transition: .2s;
}

html,
body {
    background: linear-gradient(to bottom, #ffffff 15%, #c5e9ef 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cur{
    cursor: url('default-s.png'), default;
}
.pointer-cur{
    cursor: url('pointer.png'), pointer;
}
.pointer-cur:active{
    cursor: url('pointer-s.png'), pointer;
}

/* navbar */
.navbar {
    background-color: transparent;
    width: 100vw;
    height: 10%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 4;
    transition: top 0.8s;
}
.nav {
    width: 100%;
    margin-top: 5%;
}
.navbar ul {
    position: relative;
    left: 4.5%;
    list-style-type: none;
}
.navbar ul li {
    text-align: center;
    float: left;
    width: 10%;
    padding: 1.5%;
}
#logo img {
    margin-top: -12%;
    width: 70%;
}
#con img {
    width: 50%;
    margin-left: -30%;
    margin-top: 3%;
}
#home img {
    width: 50%;
    margin-left: 30%;
    margin-top: -2%;
}

/* hover menu */
.menu img:last-child {
    display: none
}
.menu:hover img:first-child {
    display: none
}
.menu:hover img:last-child {
    display: inline-block
}
.main {
    width: auto;
    position: relative;
    z-index: 1;
}

.con {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.home {
    position: fixed;
    bottom: 0;
    width: 153%;
    z-index: 2;
    left: -21%;
    margin-bottom: -4%;
}

/* windmill */
.windmill{
    position: absolute;
    width: 4.5%;
    right: 33%;
    bottom: 20%;
    z-index: 3;
}
.vane{
    position: absolute;
    animation: rotate 3s infinite linear;
    right: 22%;
    bottom: 71.5%;
    z-index: 1;
    height: 50%;
}
.vane:active{
    animation: reverse rotate 8s infinite linear;
}
.pole{
    width: 16%;
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* speechBalloon */
.speechBalloon{
    position: absolute;
    z-index: 3;
    width: 100vw;
    bottom: 60%;
}
.web {
    position: absolute;
    width: 25%;
    left: 13%;
}
.facebook {
    position: absolute;
    width: 17%;
    margin-top: -10.5%;
    left: 33.5%;
}
.facebook_mb {
    display: none;
}
.address {
    position: absolute;
    width: 27%;
    margin-top: -7%;
    left: 60.5%;
}
.web:hover{
    opacity: 0.8;
}
.facebook:hover{
    opacity: 0.8;
}
.address:hover{
    opacity: 0.8;
}
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}
@keyframes flipInYreverse {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
    }
    to {
        transform: perspective(400px);
    }
}
.flipInY {
    animation: flipInY 1s linear;
}
.flipInYreverse {
    animation: flipInYreverse 1s linear;
}

/* cloud */
.cloud {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
    animation: animateCloud 40s linear infinite;
}
.cloud2 {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
    animation: animateCloud2 70s linear infinite;
}
@keyframes animateCloud {
    0% {
        margin-left: -1600px;
    }
    100% {
        margin-left: 1600px;
    }
}
@keyframes animateCloud2 {
    0% {
        margin-left: -3200px;
    }
    100% {
        margin-left: 3200px;
    }
}

/* responsive */
@media only screen and (min-width: 1951px) {
    .speechBalloon{
        width: 95vw;
        bottom: 62%;
    }
}
@media only screen and (max-width: 1950px) {
    .speechBalloon{
        bottom: 63%;
    }
}
@media only screen and (max-width: 1440px) {
    .speechBalloon{
        bottom: 56%;
    }
}
@media only screen and (max-width: 1366px) {
    .speechBalloon{
        bottom: 62%;
    }
}

@media only screen and (orientation: portrait){
    .speechBalloon{
        /* display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-items: center; */
        top: 15%;
    }
    .facebook {
        display: none;
    }
    .facebook_mb{
        display: inline;
        position: relative;
        width: 17%;
        left: 47%;
    }
    .web {
        position: relative;
        width: 25%;
        margin-top: 3%;
        left: 30%;
    }
    .address {
        position: relative;
        width: 27%;
        margin-top: 3%;
        left: 42%;
    }
}
@media only screen and (max-width: 768px) {
    .speechBalloon{
        top: 15%;
        width: 200%;
    }
    .facebook {
        position: relative;
        width: 17%;
        margin-top: 0%;
        left: 42.5%;
    }
    .web {
        position: relative;
        width: 25%;
        margin-top: 3%;
        left: 30%;
    }
    .address {
        position: relative;
        width: 27%;
        margin-top: 3%;
        left: 42%;
    }
}