@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Kanit500&display=swap'); */

* {
    margin: 0;
    padding: 0;
    transition: .2s;
}

html,
body {
    background: linear-gradient(to bottom, #ffffff 15%, #c5e9ef 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

footer {
    position: fixed;
    z-index: 3;
    height: 12%;
    width: 100%;
    background: #7e9b6a;
    text-align: right;
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: flex-end;
}

footer p {
    padding: 0% 3%;
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    color: white;
    top: 0;
    width: 90%;
}

.cont {
    position: relative;
    border: 1px solid red;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.main {
    width: auto;
    position: relative;
    z-index: 1;
}

.con {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: 0.5%;
}

.home {
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 2;
    bottom: 9%;
}

.base {
    background-color: #b8e099;
    width: 100vw;
    height: 50px;
    z-index: -1;
    position: absolute;
    bottom: 9%;
}


/* windmill */

.windmill {
    position: absolute;
    width: 7%;
    right: 20%;
    bottom: 30%;
    z-index: 3;
}

.vane {
    position: absolute;
    animation: rotate 3s infinite linear;
    right: 22%;
    bottom: 71.5%;
    z-index: 1;
    height: 50%;
}

.vane:active {
    animation: reverse rotate 8s infinite linear;
}

.pole {
    width: 16%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* speechBalloon */

.speechBalloon {
    position: absolute;
    z-index: 3;
    width: 100vw;
    bottom: 60%;
}

.web {
    position: absolute;
    width: 25%;
    left: 13%;
}

.facebook {
    position: absolute;
    width: 17%;
    margin-top: -10.5%;
    left: 33.5%;
}

.facebook_mb {
    display: none;
}

.address {
    position: absolute;
    width: 27%;
    margin-top: -7%;
    left: 60.5%;
}

.web:hover {
    opacity: 0.8;
}

.facebook:hover {
    opacity: 0.8;
}

.address:hover {
    opacity: 0.8;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes flipInYreverse {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, 20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
    }
    to {
        transform: perspective(400px);
    }
}

.flipInY {
    animation: flipInY 1s linear;
}

.flipInYreverse {
    animation: flipInYreverse 1s linear;
}


/* cloud */

.cloud {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
    animation: animateCloud 40s linear infinite;
}

.cloud2 {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 100%;
    animation: animateCloud2 70s linear infinite;
}

@keyframes animateCloud {
    0% {
        margin-left: -1600px;
    }
    100% {
        margin-left: 1600px;
    }
}

@keyframes animateCloud2 {
    0% {
        margin-left: -3200px;
    }
    100% {
        margin-left: 3200px;
    }
}


/* responsive */

@media only screen and (min-width: 1951px) {
    .speechBalloon {
        width: 95vw;
        bottom: 62%;
    }
}

@media only screen and (max-width: 1950px) {
    .speechBalloon {
        bottom: 63%;
    }
    footer p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1440px) {
    .speechBalloon {
        bottom: 62%;
    }
    .windmill {
        width: 6.5%;
    }
    footer p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1366px) {
    .speechBalloon {
        bottom: 62%;
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        height: 8%;
    }
    footer p {
        font-size: 14px;
    }
    .home {
        bottom: 7%;
    }
}

@media only screen and (orientation: portrait) {
    .speechBalloon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        bottom: 50%;
        height: 38%;
    }
    .facebook {
        display: none;
    }
    .facebook_mb {
        display: inline;
        position: relative;
        width: 25%;
        left: 47%;
    }
    .web {
        position: relative;
        width: 38%;
        margin-top: 3%;
        left: 25%;
    }
    .address {
        position: relative;
        width: 42%;
        margin-top: 3%;
        left: 35%;
    }
    .windmill {
        width: 4.5%;
        right: 23.5%;
        bottom: 33%;
    }
    .home {
        width: 135%;
        bottom: 7%;
    }
}

@media only screen and (max-width: 768px) {
    .speechBalloon {
        bottom: 48%;
    }
    .facebook_mb {
        width: 33%;
        left: 47%;
    }
    .web {
        width: 50%;
        margin-top: 3%;
        left: 15%;
    }
    .address {
        width: 53%;
        margin-top: 3%;
        left: 35%;
    }
    .vane {
        bottom: 69%;
    }
    .home {
        bottom: 7%;
    }
    footer p {
        font-size: 9px;
    }
}

@media only screen and (max-width: 630px) {
    .home {
        width: 187%;
    }
    .speechBalloon {
        bottom: 42%;
        height: 42%;
    }
    .vane {
        bottom: 71.5%;
    }
    footer p {
        font-size: 8px;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .vane {
        bottom: 66%;
    }
}

@media only screen and (max-width: 414px) {
    .speechBalloon {
        bottom: 40%;
    }
    .vane {
        bottom: 68%;
    }
    footer p {
        font-size: 8px;
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .vane {
        bottom: 71.5%;
    }
    .home {
        bottom: 6%;
    }
    footer p {
        font-size: 8px;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    footer {
        height: 10%;
    }
    footer p {
        font-size: 7.75px;
    }
}