@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
.topnav {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    position: fixed;
    z-index: 9;
}
.logo2 {
    width: 52px;
    padding: 15px 15px;
    position: absolute;
    justify-content: center;
}
.a {
    padding-top: 14px;
    background-color: white;
}
.topnav a {
    float: left;
    display: block;
    color: #bf744b;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    transition: .5s;
}
.topnav .icon {
    display: none;
}

/* iphone 6/7/8 size */
@media only screen and (min-width: 768px) {
    .topnav a {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .navbar {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .topnav.responsive {
        z-index: 9;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        font-size: 30px;
        padding: 14px 16px;
        color: #bf744b;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        padding: 14px;
        background-color: white;
        color: #bf744b;
        font-size: 1.2em;
    }
    .topnav.responsive {
        float: none;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: right;
        position: fixed;
        right: 0px;
    }
    .logo2 {
        width: 52px;
        /* padding-left: 3px;
        padding-top: 3px; */
        position: absolute;
    }
}
@media only screen and (max-width: 375px) {
    .topnav a {
        /* font-size: 30px; */
    }
    .topnav.responsive a {
        font-size: 1em;
    }
    .topnav.responsive .icon {
        /* font-size: 30px; */
    }
    .logo2 {
        width: 52px;
        /* padding-left: 3px;
        padding-top: 3px; */
        position: absolute;
    }
}