@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
* {
    transition: .2s;
}

.topnav {
    overflow: hidden;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
}

.logo2 {
    width: 52px;
    padding: 15px 15px;
    position: absolute;
    justify-content: center;
}

.a {
    padding-top: 14px;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: #a85f37;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    transition: .5s;
}

.topnav .icon {
    display: none;
}


/* iphone 6/7/8 size */

@media only screen and (min-width: 768px) {
    .topnav a {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }
    .navbar {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .topnav.responsive {
        z-index: 9;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        font-size: 50px;
        padding: 15px 25px;
        color: #bf744b;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        padding: 14px;
        background-color: white;
        color: #bf744b;
        font-size: 1.2em;
    }
    .topnav.responsive {
        float: none;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: right;
        position: fixed;
        right: 0px;
    }
    .logo2 {
        width: 80px;
        position: absolute;
    }
}

@media only screen and (max-width: 414px) {
    .topnav a.icon {
        font-size: 40px;
    }
    .topnav.responsive a {
        font-size: 1em;
    }
    .topnav.responsive .icon {
        font-size: 38px;
    }
    .logo2 {
        width: 62px;
        position: absolute;
        padding: 18px 20px;
    }
}

@media only screen and (max-width: 320px) {
    .topnav a.icon {
        font-size: 35px;
    }
    .logo2 {
        width: 55px;
        position: absolute;
    }
}