@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: .2s;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Kanit', sans-serif;
    font-size: 100%;
    height: 100%;
}

.cont {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 2560px;
    margin: auto;
}

h3 {
    font-size: 220%;
}

p {
    font-size: 200%;
}

#text-box {
    width: 100vw;
    margin-top: 10%;
    /* position: absolute; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-main {
    font-size: 3vw;
    color: #3c6868;
    font-weight: bold;
}

.topic-sub {
    font-size: 2vw;
    color: #e97625;
}

footer {
    height: 150px;
    width: 100%;
    background: #684026;
    text-align: right;
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: flex-end;
}

footer p {
    padding: 0% 3%;
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    color: white;
    width: 90%;
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1, 0.75, 1);
        transform: scale3d(1, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand:hover {
    -webkit-animation: rubberBand 0.8s linear;
    animation: rubberBand 0.8s linear;
}

#detailbox_area {
    z-index: 5;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s;
}

.area {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
}

.detailbox {
    z-index: 6;
    width: 40vw;
    height: 500px;
    padding: 2%;
    position: fixed;
    align-items: center;
    border: 5px solid #d78b8b;
    border-radius: 2.5rem;
    background: rgb(253, 247, 234);
}

#flex_detail {
    transition: 2s;
    height: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.cross {
    z-index: 7;
    width: 5%;
    right: 5%;
    position: absolute;
}

#image {
    position: relative;
    min-width: 30%;
    max-height: 95%;
}

#text_detail {
    text-align: start;
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.line {
    display: none;
}

.fridge {
    /* position: absolute; */
    /* height: 70%; */
    margin-top: 5%;
    margin-bottom: 35%;
    display: block;
    overflow: hidden;
}

.l-fridge {
    width: 50vw;
    left: 0vw;
    position: absolute;
}

.r-fridge {
    width: 50vw;
    left: 50vw;
    position: absolute;
}

.l-fridge_door {
    animation: l-fridge 1.5s linear;
    left: -45vw;
    width: 50vw;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
}

.r-fridge_door {
    animation: r-fridge 1.5s linear;
    left: 45vw;
    width: 50vw;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
}

@keyframes l-fridge {
    0% {
        left: 0vw;
    }
    65% {
        left: -47vw;
    }
    100% {
        left: -45vw;
    }
}

@keyframes r-fridge {
    0% {
        left: 0vw;
    }
    65% {
        left: 47vw;
    }
    100% {
        left: 45vw;
    }
}

.fridge_shelf {
    width: 98vw;
    margin-top: 15%;
    position: absolute;
    z-index: -1;
}

.r_fridge_shelf {
    display: none;
}

.l_fridge_shelf {
    display: none;
}

.l-fridge_board {
    width: 50vw;
    left: 0vw;
    position: absolute;
    z-index: -1;
}

.r-fridge_board {
    width: 50vw;
    position: absolute;
    z-index: -1;
}


/* display: grid;
grid-template-columns: repeat(auto-fill, 25%); */

.fridge_product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    left: 7.5%;
    right: 7.5%;
}

.icecream {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 19%;
}

.butter {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 16%;
}

.yogurt {
    display: inline-flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 10%;
}

.yogurttt {
    width: 8vw;
}

.cupboard {
    width: 100%;
}

.cupboard-leg {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.cupboard-leg_mb {
    display: none;
}

.cupboard_shelf {
    position: absolute;
    z-index: 0;
}

.cupboard_shelf_mb {
    display: none;
}

.cupboard_product {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4vw;
    right: 4vw;
}

.best_shelf {
    position: absolute;
    width: 100vw;
    margin-top: 33%;
}

.bestsell {
    margin-top: -2%;
    position: absolute;
    width: 8vw;
    left: 8vw;
    z-index: 2;
    animation: swing .8s infinite alternate;
}

@keyframes swing {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.m_Nong-Pho {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
}

.milk1 {
    width: 8vw;
}

.milk2 {
    width: 8vw;
    margin-left: 1.5vw;
}

.milk3 {
    width: 10vw;
}

.m_pellets {
    display: inline-flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 4%;
}

.pellet {
    width: 9vw;
    margin-left: 1.5vw;
}

.m_TD {
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: 6%;
}

.m_Chit {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 6%;
    align-self: flex-end;
}


/* responsive */

@media only screen and (max-width: 1921px) {
    #text_detail {
        width: 40%;
    }
    p {
        font-size: 150%;
    }
}

@media only screen and (max-width: 1440px) {
    .detailbox {
        width: 50vw;
        height: 450px;
    }
    #text_detail {
        width: 40%;
    }
    h3 {
        font-size: 180%;
    }
}

@media only screen and (max-width: 1304px) {
    .detailbox {
        width: 50vw;
        height: 350px;
    }
    h3 {
        font-size: 125%;
    }
    p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1024px) {
    #text-box {
        margin-top: 15%;
    }
}


/* mobile responsive */

@media only screen and (orientation: portrait) {
    .line {
        display: inline;
        width: 120vw;
        position: absolute;
        margin-top: 62%;
        z-index: 3;
    }
    #text-box {
        margin-top: 15%;
    }
    .topic-main {
        font-size: 5vw;
    }
    .topic-sub {
        font-size: 3vw;
    }
    .fridge {
        margin-top: 5%;
    }
    .r-fridge {
        width: 100vw;
        left: 0;
    }
    .r-fridge_board {
        width: 100vw;
    }
    .r-fridge_door {
        left: 93vw;
        width: 100vw;
    }
    .l-fridge {
        width: 100vw;
        left: 0vw;
        margin-top: 62%;
    }
    .l-fridge_board {
        width: 100vw;
    }
    .l-fridge_door {
        left: -93vw;
        width: 100vw;
    }
    @keyframes l-fridge {
        0% {
            left: 0vw;
        }
        75% {
            left: -97vw;
        }
        100% {
            left: -93vw;
        }
    }
    @keyframes r-fridge {
        0% {
            left: 0vw;
        }
        75% {
            left: 97vw;
        }
        100% {
            left: 93vw;
        }
    }
    .fridge_shelf {
        display: none;
    }
    .r_fridge_shelf {
        display: inline;
        width: 98vw;
        margin-left: 1%;
        margin-top: 30%;
    }
    .l_fridge_shelf {
        display: inline;
        width: 98vw;
        margin-left: 1%;
        margin-top: 57%;
    }
    .yogurttt {
        width: 16vw;
    }
    .cupboard {
        margin-top: 58%;
    }
    .cupboard-leg {
        display: none;
    }
    .cupboard-leg_mb {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
    .cupboard_shelf {
        display: none;
    }
    .cupboard_shelf_mb {
        display: inline;
        position: absolute;
        z-index: 0;
    }
    .cupboard_product {
        left: 7.5vw;
        right: 7.5vw;
    }
    .best_shelf {
        margin-top: 88%;
    }
    .bestsell {
        width: 18vw;
        left: 3vw;
        margin-top: -4%;
    }
    .hide {
        display: none;
        width: 0px;
    }
    .m_TD {
        margin-top: 30%;
    }
    .m_Chit {
        margin-top: 36.5%;
    }
    .milk1 {
        width: 16.35vw;
        margin-top: 10%;
    }
    .milk2 {
        width: 13vw;
        margin-left: 0.5vw;
    }
    .milk3 {
        width: 14vw;
    }
    .m_pellets {
        margin-top: 17%;
    }
    .pellet {
        width: 21vw;
        margin-left: 1.5vw;
    }
}

@media only screen and (max-width: 1440px) and (orientation: portrait) {
    .cupboard {
        margin-top: 50%;
    }
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
    .cupboard {
        margin-top: 45%;
    }
    .detailbox {
        width: 60vw;
        padding: 4%;
    }
    #text_detail {
        width: 45%;
    }
    .cross {
        width: 7%;
        right: 7%;
    }
    footer p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 738px) {
    .milk1 {
        width: 16.25vw;
    }
    .milk2 {
        width: 13vw;
        margin-left: 0.45vw;
    }
}

@media only screen and (max-width: 686px) {
    .milk2 {
        margin-left: 0.2vw;
    }
    #text-box {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 630px) {
    .m_pellets {
        margin-top: 17.5%;
    }
    .milk1 {
        width: 16vw;
    }
    footer p {
        font-size: 8px;
        width: 100%;
    }
}

@media only screen and (max-width: 508px) {
    .detailbox {
        width: 75vw;
        height: 320px;
    }
    #text-box {
        margin-top: 25%;
    }
    .milk2 {
        margin-left: 0.05vw;
    }
    footer {
        height: 100px;
    }
    footer p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 473px) {
    .topic-main {
        font-size: 6vw;
    }
    .topic-sub {
        font-size: 4vw;
    }
    h3 {
        font-size: 16px;
    }
    .cross {
        width: 6%;
        right: 5%;
        top: 5%;
    }
    .milk1 {
        width: 15.75vw;
        margin-top: 10.5%;
    }
    .milk2 {
        margin-left: 0vw;
    }
    footer {
        height: 80px;
    }
    footer p {
        font-size: 9px;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .fridge {
        top: 30%;
        height: 85%;
    }
    .detailbox {
        width: 85vw;
        height: 300px;
    }
    #text_detail {
        width: 55%;
    }
    .milk2 {
        width: 14vw;
        margin-left: 1.5vw;
    }
    .m_TD {
        margin-top: 27.5%;
    }
    #hide {
        display: none;
    }
    .m_Chit {
        margin-top: 35.5%;
    }
}

@media only screen and (max-width: 378px) {
    .detailbox {
        height: 250px;
    }
    .milk1 {
        margin-left: -0.25vw;
    }
    p {
        font-size: 14px;
    }
    footer {
        height: 70px;
    }
    footer p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 320px) {
    #text_detail {
        width: 65%;
    }
    footer {
        height: 50px;
    }
    footer p {
        font-size: 7px;
    }
}