@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Sarabun:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;    
}
/* scrollbar*/
::-webkit-scrollbar {
    width: 0px;
  }

/* navbar */
.navbar{
    background-color: transparent;
    width: 100vw;
    height: 10vh;
    position: fixed;
    display: block;
    top:0;
    z-index: 4;
    transition: top 0.8s;
    text-align: center;

}
.navbar ul{
    position: relative;
    left: 4.5%;
    list-style-type: none;
}
.navbar ul li{ 
    text-align: center;
    float: left;
    width: 10%;
    padding: 1.5%;
    margin-top: 2%
}
#logo img{
    margin-top: -12%;
    width: 70%;
}
#con img{
    width: 50%;
    margin-left: -30%;
    margin-top: 4%;
}
#home img{
    width: 50%;
    margin-left: 30%;
    margin-top: -2%;
}
/* hover menu */
.menu img:last-child{display:none}
.menu:hover img:first-child{display:none}
.menu:hover img:last-child{display:inline-block}

#text-box{
    width: 100vw;
    top: 20.5vh;
    position: absolute;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    /* align-items: center;*/
}
.topic-main{
    font-size: 4em;
    color:#3c6868;
    font-weight: bold;
}
.topic-sub{
    font-size: 2.5em;
    color:#e97625;
}

.fridge{
    height: 47.8vh;
    margin-top: 38vh;
    display: block;
    position: relative;
}
.l-fridge{
    width: 50vw;
    left: 0vw;
    position: absolute;
}
.r-fridge{
    width: 50vw;
    left: 50vw;
    position: absolute;
}
.l-fridge_door{
    animation: l-fridge 1.5s linear;
    left: -47vw;
    width: 50vw;
    position: absolute;
}
.r-fridge_door{
    animation: r-fridge 1.5s linear;
    left: 47vw;
    width: 50vw;
    position: absolute;
}
@keyframes l-fridge{
    0%{left: 0vw;}
    100%{left: -47vw;}
}
@keyframes r-fridge{
    0%{left: 0vw;}
    100%{left: 47vw;}
}
.fridge_shelf{
    margin-top: 15%;
    position: absolute;
    z-index: -2;
}
.l-fridge_board{
    width: 50vw;
    left: 0vw;
    position: absolute;
    z-index: -1;
}
.r-fridge_board{
    width: 50vw;
    position: absolute;
    z-index: -1;
}
.icecream{
    display: inline-flex;
    position: absolute;
    left: 5%;
    z-index: -3;
    margin-top: 15%;
}

.cupboard-leg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}